.filters {
  width: 300px; /* Set a fixed width for desktop */
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
}

.filters input {
  width: calc(100% - 20px); /* Adjust input width */
  margin-bottom: 10px;
}

.filters button {
  width: 100%;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .filters {
    width: 100%; /* Set width to 100% for mobile */
  }
}

.job-card {
  width: 300px; /* Set a fixed width for desktop */
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
}

.job-card button {
  margin-top: 10px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .job-card {
    width: 100%; /* Set width to 100% for mobile */
  }
}

/* Add this to your CSS file */

.job-listings-container {
  display: flex;
  justify-content: center;
}

.job-listings {
  max-width: 800px; /* Adjust as needed */
  width: 100%;
  padding: 0 20px;
}

